<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Fernando Puertas Vidal y Sergio Muñoz Cubillo.
</p>


<img src="/images/1.jpg" /><br>
<img src="/images/2.jpg" /><br>

<a href="https://github.com/ferpuertasvidal17/quiz2017"> Repositorio Github </a>


